@keyframes fadeup
  0% 
    opacity: 0
    transform: translateY(20px)
  100%
    opacity: 1
    transform: translateY(0)

@keyframes fadewidth
  0%
    opacity: 0
    transform: scaleX(0)
  100%
    opacity: 1
    transform: scaleX(1)

.fadeup
  animation: fadeup 0.5s forwards ease-out 0.2s