@import '../config/_colors'
  
.compare
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.compare__header
  height: 220px

.compare__heading
  font-weight: 100
  font-size: 48px
  text-align: center
  margin-top: 48px
  margin-bottom: 16px

.compare__input
  font-family: Roboto
  font-size: 48px
  background: inherit
  width: 185px
  margin-right: 12px
  font-weight: 100
  border: none
  outline: none

.compare__info
  font-weight: 300
  font-size: 23px
  text-align: center
  color: $color-black

.compare__boxes
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap