@import '../config/_colors'
  
.compare-box
  width: 500px
  height: 600px
  display: flex
  flex-direction: column
  align-items: center
  background: $color-black
  color: white
  border-radius: 10px
  
.compare-box__header
  font-size: 48px
  font-weight: 100
  height: 45px