@import '../config/_breakpoints'
@import '../config/_colors'

.hero
  height: 80vh
  background: $color-black
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.hero__header
  color: white
  font-size: 84px
  font-weight: 100
  margin: 12px

.hero__hr
  width: 80vw
  height: 1px
  background: rgba(255, 255, 255, 0.1)
  border: 0

.hero__info
  font-weight: 300
  font-size: 22px
  color: rgba(255, 255, 255, 0.75)
  width: 650px
  max-width: 90vw
  text-align: center

.hero__buttons
  display: flex
  align-items: center
  justify-content: center

.hero__button
  font-family: Roboto
  margin: 8px
  height: 50px
  width: 240px
  background: $color-gold
  border: none
  color: white
  font-size: 28px
  font-weight: 300
  cursor: pointer