@import '../config/_colors'
@import '../config/_breakpoints'
  
.how-it-works
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start

.how-it-works__header
  height: 220px
  display: flex
  flex-direction: column
  align-items: center
  +media($breakpoint-md)
    height: 200px
  +media($breakpoint-sm)
    height: 240px

.how-it-works__heading
  font-weight: 100
  font-size: 48px
  text-align: center
  margin-top: 48px
  margin-bottom: 16px
  max-width: 90vw
  opacity: 0
  +media($breakpoint-md)
    font-size: 40px
    max-width: 90vw
  +media($breakpoint-sm)
    font-size: 32px
    max-width: 95vw

.how-it-works__info
  font-weight: 300
  font-size: 23px
  text-align: center
  color: $color-black
  opacity: 0
  margin: 0
  +media($breakpoint-md)
    font-size: 20px
  +media($breakpoint-sm)
    font-size: 18px

.how-it-works__sections
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap

.how-it-works__section
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  width: 500px
  max-width: 90vw
  height: 300px
  opacity: 0

.how-it-works__img
  height: 150px

.how-it-works__text
  text-align: center
  font-size: 25px
  font-width: 100
  color: $color-black
  +media($breakpoint-md)
    font-size: 24px
  +media($breakpoint-sm)
    font-size: 18px